
<div class="arm-header">
  <div class="arm-header__title">ИС “Е-обращения” Саулембеков Е.А.</div>
  <div class="arm-header__control">     
    <form action="#!" class="arm-search">
      <input type="text" placeholder="Поиск"/>
      <button><i class="fas fa-search"></i></button>
    </form>
    <ul class="arm-header__lang">
      <li><a href="#!" class="link active"><img src="../../images/icons/rus.png" alt=""/></a></li>
      <li><a href="#!" class="link"><img src="../../images/icons/kaz.png" alt=""/></a></li>
    </ul><a href="#!" class="arm-author link"><i class="fas fa-sign-out-alt"></i><span>Выйти</span></a>
  </div>
</div>