button
	outline: none!important
	border: none
	background: none
	cursor: pointer
	
.button
	display: inline-block
	font-family: $baseFont
	vertical-align: middle
	font-weight: 500
	color: inherit
	text-align: center
	white-space: nowrap
	text-decoration: none
	position: relative
	z-index: 1
	transition: $sMed
	outline: none
	cursor: pointer
	box-sizing: border-box
	line-height: 1
	border: 1px solid #73877B
	background: $btnColor
	color: #fff
	padding: 12px 20px
	border-radius: 9px
	font-size: 16px

	&:hover
		background: darken($btnColor, 10%)
		color: #fff
		text-decoration: none

	.fas
		color: #fff
		font-size: 16px
		margin-right: 5px