.link
  color: inherit
  text-decoration: none
  border-bottom: 1px solid transparent
  transition: $sMed
  outline: none
  &-border    
    border-bottom-color: rgba(#4b4b4b, .2)
    &:hover
      border-bottom-color: transparent

  &-arrow
    font-weight: 500
    position: relative
    padding-left: 27px
    svg
      width: 11px
      height: 13px
      margin-right: 20px
      transition: .5s
      fill: #d1d1d1
      position: absolute
      left: 0
      top: 2px
    &:hover
      color: $blue
      svg
        left: 8px
        fill: $blue

  &-lightblue
    color: #198ee9
    font-size: 14px
    font-weight: 500
    svg
      fill: #198ee9