/**************** media queries *******************/
	
=only-tablet
	@media screen and (min-width: $mobile + 1px) and (max-width: $tablet)
		@content

=only-laptop
	@media screen and (min-width: $tablet + 1px) and (max-width: $laptop)
		@content

=only-mob()
	+max-screen($bpMobile)
		@content


/**************** calculateRem *******************/

@function rem($px,$rem:$baseRem)
	@return #{$px/$rem}rem

/**************** pseudo after/before *******************/

=pseudo($content: '', $pos: absolute, $display: block )
		content: $content
		display: $display
		position: $pos


/**************** placeholder *******************/

=placeholder
		&.placeholder 
			@content
		&:-moz-placeholder 
			@content
		&::-moz-placeholder 
			@content
		&:-ms-input-placeholder 
			@content
		&::-webkit-input-placeholder
			@content

/**************** center block *******************/

=center($position)
	position: absolute
	
	@if $position == 'v'
		top: 50%
		transform: translateY(-50%)
	
	@else if $position == 'h' 
		left: 50%
		transform: translate(-50%)
	
	@else if $position == 'both'
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)


=triangle($direction, $sizeH, $sizeV, $color)
	content: ''
	display: block
	width: 0
	height: 0
	border-style: solid
	-moz-transform: scale(.9999)
      
	@if $direction == top 
		border-width: 0 $sizeV $sizeH $sizeV
		border-color: transparent transparent $color transparent

	@if $direction == bottom
		border-width: $sizeV $sizeH 0 $sizeV
		border-color: $color transparent transparent transparent

	@if $direction == left
		border-width: $sizeV $sizeH $sizeV 0
		border-color: transparent $color transparent transparent

	@if $direction == right
		border-width: $sizeV 0 $sizeV $sizeH
		border-color: transparent transparent transparent $color

	@if $direction == topright
		border-width: 0 $sizeH $sizeV 0
		border-color: transparent $color transparent transparent

	@if $direction == bottomright
		border-width: 0 0 $sizeH $sizeV
		border-color: transparent transparent $color transparent

	@if $direction == bottomleft
		border-width: $sizeH 0 0 $sizeV
		border-color: transparent transparent transparent $color

	@if $direction == topleft
		border-width: $sizeH $sizeV 0 0
		border-color: $color transparent transparent transparent
  
