.arm-sidebar
  .arm-profile
    .arm-profile__img
      img(src="../../images/icons/arm-avatar.png", alt="")
    .arm-profile__name
      span Иванов Иван
      span Администратор

  ul.arm-menu
    li
      a(href="#!").link.arm-menu__link
        img(src="../../images/icons/arm-menu-icon.png", alt="")
        span Находится на рассмотрении
      ul
        li: a(href="#!").link Саб меню
        li: a(href="#!").link Саб меню
        li: a(href="#!").link Саб меню
    li
      a(href="#!").link.arm-menu__link
        img(src="../../images/icons/arm-menu-icon-2.png", alt="")
        span Отправлено на согласование
      ul
        li: a(href="#!").link Находится на согласовании
        li: a(href="#!").link Подписано
        li: a(href="#!").link На отправке
    li
      a(href="#!").link.arm-menu__link
        img(src="../../images/icons/arm-menu-icon-3.png", alt="")
        span Находится на рассмотрении
      ul
        li: a(href="#!").link Саб меню
        li: a(href="#!").link Саб меню
        li: a(href="#!").link Саб меню