include ../_mixins

.popup#search(class=showPopup ? "popup-show" : "")
  .popup-inner
    .popup-header
      .popup-title ПОИСК ОБРАЩЕНИЙ
      a(href="#!").link: <i class="fas fa-home"></i>
    .popup-body
      form(action="#!").popup-form
        .input-row
          .input-row__inner
            .input-row__title Введите ИИН/БИН
            .input-row__input
              input(type="text")
        .input-row
          .input-row__inner
            .input-row__title Номер обращения
            .input-row__input
              input(type="text")
        .input-row
          .input-row__inner
            .input-row__title Государственный орган
            .input-row__input
              input(list="datalist-1").datalist
              datalist#datalist-1
                option(value="value1")
                option(value="value2")
                option(value="value3")
        .input-row
          .input-row__inner
            .input-row__title Категория вопроса
            .input-row__input
              input(list="datalist-2").datalist
              datalist#datalist-2
                option(value="value1")
                option(value="value2")
                option(value="value3")
        .input-row
          .input-row__inner
            .input-row__title Характер вопроса
            .input-row__input
              input(list="datalist-3").datalist
              datalist#datalist-3
                option(value="value1")
                option(value="value2")
                option(value="value3")

        .input-row.input-small
          .input-row__inner
            .input-row__title
            .input-row__input
              span Период подачи обращения
              .row
                .col-sm-6
                  span c
                  input(type="text")
                .col-sm-6
                  span по
                  input(type="text")
        .popup-button.txt-ar
          button.button Поиск
      .table-wrap
        table
          thead
            tr
              td Номер
              td Обращение
              td ФИО
              td Действие
          tbody
            tr
              td фл-1-15
              td Заявление/Использование и охрана земель/Нерациональное использование земельных участков Маратов Серик Ерланович
              td Прошу Вас дать разъяснения по поводу ведения сельскохозяйственного производства, не обеспечивающее сохранение почвенного плодородия и экологическую безопасность окружающей природной среды
              td: a(href="#!").button Выбрать
      div
        .input-row
          .input-row__inner
            .input-row__title Статус обращения
            .input-row__input
              input(list="datalist-4").datalist
              datalist#datalist-4
                option(value="value1")
                option(value="value2")
                option(value="value3")
        .input-row
          .input-row__inner
            .input-row__title Причина повторного обращения
            .input-row__input
              input(list="datalist-5").datalist
              datalist#datalist-5
                option(value="value1")
                option(value="value2")
                option(value="value3")
      .popup-button.txt-ac
        button.button Продолжить