.authorization
  &-block
    display: flex
    flex-direction: column
    align-items: center

  &-link
    width: 520px
    display: flex
    align-items: center
    background: #8FBEA2
    color: #fff
    border-radius: 45px
    height: 90px
    text-decoration: none
    margin-bottom: 50px
    padding: 0 35px
    letter-spacing: 2px
    font-size: 25px
    font-weight: 300
    box-shadow: inset 0px 8px 5px 0px rgba(118,179,150,1)
    &:hover
      text-decoration: none
      color: #fff
      background: #76B396

    span
      flex-grow: 1
      display: block
      text-align: center
      margin-left: -20px   

  &-logo
    margin-bottom: 40px

  &-login
    width: 480px
    background: rgba(#fff, .15)
    border-radius: 50px
    overflow: hidden
    &__form
      padding: 50px 35px

    input
      border: 0
      border-bottom: 1px solid #fff
      background: transparent
      border-radius: 0
      color: #fff
      padding: 15px
      padding-left: 70px
      font-size: 25px
      height: auto
      +placeholder
        color: #fff
        font-size: 25px

    .input-wrap
      margin-bottom: 25px

    .login
      background: url('../images/icons/mail.png') 15px center no-repeat

    .password
      background: url('../images/icons/password.png') 15px center no-repeat

    &__options
      margin-bottom: 30px
      display: flex
      justify-content: space-between
      font-size: 16px
      color: #fff
      align-items: flex-start

      .link
        font-style: italic

      .checkbox
        small
          background: #83B58E
          border: 0
          width: 20px
          height: 20px
          border-radius: 0

        input + small:after
          content: url('../images/icons/checked-white.png')
          left: 4px

        input:checked + small:after
          opacity: 1
          top: -2px


  &-header
    background: #A8D3CA
    text-align: center
    font-weight: 700
    padding: 25px
    color: #fff

  &-submit
    height: 69px
    padding: 0 80px
    background: rgba(#fff, .2)
    border-radius: 6px
    text-transform: uppercase
    color: #fff
    transition: .4s

    &:hover
      background: #80C5A8