.header
  color: #fff
  padding: 10px 0
  background: url(../images/header-bg.jpg) center center / cover no-repeat
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.52)
  &-inner
    display: flex
    align-items: center

  &-title
    padding: 7px 0 7px 20px
    border-left: 2px solid #fff
    margin-left: 80px

  &-buttons
    flex-grow: 1
    text-align: right
    a
      display: inline-block
      margin-right: 30px
      transition: .3s
      &:last-child
        margin-right: 0

      &:hover
        transform: scale(.9)

  .fas
    color: #fff
    font-size: 50px

  &-logo
    img
      width: 70px