
html, :root
  font-size: $baseRem
  overflow-x: hidden


body
  font-family: $baseFont
  font-size: $baseRem
  color: $baseTxt
  min-width: 320px
  padding: 0
  margin: 0
  overflow-x: hidden

  +to($break_xxs)
    font-size: rem(14px)

.wrapper
  max-width: 1400px
  box-sizing: content-box
  margin: 0 auto
  padding: 0 30px

  +to(560px)
    padding: 0 22px 0 15px   

.page
  display: flex
  flex-direction: column
  min-height: 100vh
  background: #fff

  +to(480px)
    padding-top: 75px!important

.main
  flex-grow: 1
  padding: 60px 0

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -moz-tap-highlight-color: rgba(0, 0, 0, 0)
  box-sizing: border-box

img
  max-width: 100%


@import header
@import footer


.rel
  position: relative


.fas
  color: $btnColor
  font-size: 35px

.flex
  display: flex
.flex-end
  justify-content: flex-end
.flex-center
  justify-content: center

.flex-between
  justify-content: space-between


.gradient-bg
  background: url('../images/gradient-bg.jpg') center center / cover no-repeat

.fullpage
  height: 100vh
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.page-fullpage
  .main
    padding: 0