
<div class="arm-sidebar">
  <div class="arm-profile">
    <div class="arm-profile__img"><img src="../../images/icons/arm-avatar.png" alt=""/></div>
    <div class="arm-profile__name"><span>Иванов Иван</span><span>Администратор</span></div>
  </div>
  <ul class="arm-menu">
    <li><a href="#!" class="link arm-menu__link"><img src="../../images/icons/arm-menu-icon.png" alt=""/><span>Находится на рассмотрении</span></a>
      <ul>
        <li><a href="#!" class="link">Саб меню</a></li>
        <li><a href="#!" class="link">Саб меню</a></li>
        <li><a href="#!" class="link">Саб меню</a></li>
      </ul>
    </li>
    <li><a href="#!" class="link arm-menu__link"><img src="../../images/icons/arm-menu-icon-2.png" alt=""/><span>Отправлено на согласование</span></a>
      <ul>
        <li><a href="#!" class="link">Находится на согласовании</a></li>
        <li><a href="#!" class="link">Подписано</a></li>
        <li><a href="#!" class="link">На отправке</a></li>
      </ul>
    </li>
    <li><a href="#!" class="link arm-menu__link"><img src="../../images/icons/arm-menu-icon-3.png" alt=""/><span>Находится на рассмотрении</span></a>
      <ul>
        <li><a href="#!" class="link">Саб меню</a></li>
        <li><a href="#!" class="link">Саб меню</a></li>
        <li><a href="#!" class="link">Саб меню</a></li>
      </ul>
    </li>
  </ul>
</div>