
<div id="search" class="popup">
  <div class="popup-inner">
    <div class="popup-header">
      <div class="popup-title">ПОИСК ОБРАЩЕНИЙ</div><a href="#!" class="link"><i class="fas fa-home"></i></a>
    </div>
    <div class="popup-body">
      <form action="#!" class="popup-form">
        <div class="input-row">
          <div class="input-row__inner">
            <div class="input-row__title">Введите ИИН/БИН</div>
            <div class="input-row__input">
              <input type="text"/>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-row__inner">
            <div class="input-row__title">Номер обращения</div>
            <div class="input-row__input">
              <input type="text"/>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-row__inner">
            <div class="input-row__title">Государственный орган</div>
            <div class="input-row__input">
              <input list="datalist-1" class="datalist"/>
              <datalist id="datalist-1">
                <option value="value1"></option>
                <option value="value2"></option>
                <option value="value3"></option>
              </datalist>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-row__inner">
            <div class="input-row__title">Категория вопроса</div>
            <div class="input-row__input">
              <input list="datalist-2" class="datalist"/>
              <datalist id="datalist-2">
                <option value="value1"></option>
                <option value="value2"></option>
                <option value="value3"></option>
              </datalist>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-row__inner">
            <div class="input-row__title">Характер вопроса</div>
            <div class="input-row__input">
              <input list="datalist-3" class="datalist"/>
              <datalist id="datalist-3">
                <option value="value1"></option>
                <option value="value2"></option>
                <option value="value3"></option>
              </datalist>
            </div>
          </div>
        </div>
        <div class="input-row input-small">
          <div class="input-row__inner">
            <div class="input-row__title"></div>
            <div class="input-row__input"><span>Период подачи обращения</span>
              <div class="row">
                <div class="col-sm-6"><span>c</span>
                  <input type="text"/>
                </div>
                <div class="col-sm-6"><span>по</span>
                  <input type="text"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-button txt-ar">
          <button class="button">Поиск</button>
        </div>
      </form>
      <div class="table-wrap">
        <table>
          <thead>
            <tr>
              <td>Номер</td>
              <td>Обращение</td>
              <td>ФИО</td>
              <td>Действие</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>фл-1-15</td>
              <td>Заявление/Использование и охрана земель/Нерациональное использование земельных участков Маратов Серик Ерланович</td>
              <td>Прошу Вас дать разъяснения по поводу ведения сельскохозяйственного производства, не обеспечивающее сохранение почвенного плодородия и экологическую безопасность окружающей природной среды</td>
              <td><a href="#!" class="button">Выбрать</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div class="input-row">
          <div class="input-row__inner">
            <div class="input-row__title">Статус обращения</div>
            <div class="input-row__input">
              <input list="datalist-4" class="datalist"/>
              <datalist id="datalist-4">
                <option value="value1"></option>
                <option value="value2"></option>
                <option value="value3"></option>
              </datalist>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-row__inner">
            <div class="input-row__title">Причина повторного обращения</div>
            <div class="input-row__input">
              <input list="datalist-5" class="datalist"/>
              <datalist id="datalist-5">
                <option value="value1"></option>
                <option value="value2"></option>
                <option value="value3"></option>
              </datalist>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-button txt-ac">
        <button class="button">Продолжить</button>
      </div>
    </div>
  </div>
</div>