
.form
  &-row
    display: flex
    justify-content: space-between
    margin-bottom: 40px
    &__col
      width: 45%

  &-block
    &__title
      display: flex
      align-items: center    
      color: #000
      font-weight: 500
      margin-bottom: 40px
      i
        color: $btnColor
        margin-right: 18px
      span
        padding-left: 15px
        border-left: 2px solid $btnColor

    &__subtitle
      color: $green
      text-align: right
      margin-bottom: 25px
      .h2
        display: inline-block
        border-bottom: 1px solid #D4D4D4
        padding-bottom: 5px

    &__content
      padding-left: 40px

    &__btn
      text-align: right

  &-buttons
    display: flex
    justify-content: center
    padding: 60px 0 30px
    position: relative
    &:before
      content: url('../images/line.jpg')
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
    button
      margin: 0 20px