.popup
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  visibility: hidden
  opacity: 0
  transition: .4s
  justify-content: center
  align-items: center
  z-index: 99
  background: rgba(#000, .5)
  &.popup-show
    display: flex
    visibility: visible
    opacity: 1
  &-inner
    position: relative
    transition: .4s
    max-width: 1000px
    width: 100%
    background: #FFF
    padding-bottom: 60px
    overflow-y: auto
    max-height: 90vh

  &-header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 25px 50px
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.52)
    color: #fff
    margin-bottom: 70px
    background: url(../images/header-bg.jpg) center center / cover no-repeat

  &-title    
    font-size: 30px
    font-weight: 300
    text-transform: uppercase

  .fas
    color: #fff

  &-form
    padding: 0 100px 80px

  .input-row__title
    width: 40%


  .input-small
    .col-sm-6
      display: flex
      align-items: center
      span
        margin-right: 15px

  .input-row__input
    & > span
      display: block
      text-align: right
      padding-right: 30px
      padding-bottom: 20px

  .table-wrap
    padding: 0 30px 30px

    & + div
      padding: 0 50px 0 40%
      margin-bottom: 45px

  table
    td
      padding: 7px 12px
      vertical-align: middle

    thead
      border: 1px solid #BBBBBA
      border-top: 8px solid #BBBBBA

    tbody
      color: #8a8a8b
      font-size: 20px

      tr
        border-bottom: 1px solid #BBBBBA