extends ../template/template
include ../_mixins


block vars
  - title = 'Главная';
  - pageClass = 'page-index';
  - showPopup = false;
  - isArm = true;

block content

  .arm-main
    include ../particles/arm-sidebar
    .arm-content
      .arm-content__title Находится на рассмотрении
      .arm-content__main
        .arm-statusbar
          ul
            li
              .circle-green.circle
              |Контрольный срок более трех дней
            li
              .circle-red.circle
              |Истек контрольный срок рассмотрения
            li
              .circle-yellow.circle
              |Контрольный срок менее трех дней

        .arm-table
          table
            thead
              tr
                td №
                td Статус
                td Обращение
                td ФИО
                td Таймер
                td Переадресация
                td Ответ
            tbody
              tr
                td 1
                td: .circle-green.circle
                td Заявление/Использование и охрана земель/Нерациональное использование земельных участков
                td Маратов Серик Ерланович
                td: .add-number
                  |15 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Подготовка ответа
              tr
                td 2
                td: .circle-green.circle
                td Жалоба/Использование и охрана земель/Аренда земли
                td Петров Георгий Александрович
                td: .add-number
                  |15 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Подготовка ответа
              tr
                td 3
                td: .circle-red.circle
                td Заявление/Земельные ресурсы/Предоставление земельного участка под строительство коммерческой недвижимости
                td Габдуллина Ляззат Куанышевна
                td: .add-number
                  |-3 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Подготовка ответа
              tr
                td 4
                td: .circle-yellow.circle
                td Отклик/Земельные ресурсы/Предоставление земельного участка из гос.собственности для физических лиц
                td Кадырбек Есбол Маратулы
                td: .add-number
                  |2 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Подготовка ответа
              tr
                td 5
                td: .circle-yellow.circle
                td Заявление/Земельныересурсы/Изменение целевого назначения земельного участка
                td Сериков Азамат Азаматович
                td: .add-number
                  |7 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Доработать