extends ../template/template
include ../_mixins


block vars
  - title = '';
  - pageClass = 'page-fullpage'
  - hideHeader = true;
  - hideFooter = true;

block content

  .authorization.gradient-bg.fullpage
    .authorization-block
      img(src="../../images/icons/author-user.png", alt="").authorization-logo
      a(href="#!").authorization-link.link
        img(src="../../images/icons/author-icon-1.png", alt="")
        span Регистрация обращения
      a(href="#!").authorization-link.link
        img(src="../../images/icons/author-icon-2.png", alt="")
        span Выдача ответа