extends ../template/template
include ../_mixins


block vars
  - title = '';
  - pageClass = 'page-fullpage'
  - hideHeader = true;
  - hideFooter = true;

block content

  .authorization.gradient-bg.fullpage
    .authorization-login
      .authorization-header.h2 Информационая система электоронных обращений
      form(action="#!").authorization-login__form
        .input-wrap
          input(type="text" placeholder="Логин*").login
        .input-wrap
          input(type="password" placeholder="Пароль*").password

        .authorization-login__options
          label.checkbox
            input(type="checkbox" checked)
            small
            span Запомнить меня
          a(href="#!").link Забыли пароль?
        .txt-ac
          button.authorization-submit Войти