extends ../template/template
include ../_mixins


block vars
  - title = 'Главная';
  - pageClass = 'page-index'

block content

  .wrapper
    .row.form-row
      .form-row__col
        .row
          .col-sm-6
            .form-block
              .form-block__title.h2: <i class="far fa-file-alt"></i>
                span Тип заявителя
              .form-block__content
                label.radio
                  input(type="radio" name="checkbox-1" checked)
                  small
                  span Физическое лицо
                label.radio
                  input(type="radio" name="checkbox-1")
                  small
                  span Юридическое лицо
          .col-sm-6
            .form-block
              .form-block__title.h2: <i class="far fa-file-alt"></i>
                span Тип обращения
              .form-block__content
                label.checkbox
                  input(type="checkbox")
                  small
                  span Доверенное лицо
                label.checkbox
                  input(type="checkbox")
                  small
                  span Коллективное обращение
                label.checkbox
                  input(type="checkbox")
                  small
                  span Личный прием

      .form-row__col.flex.flex-end
        .form-block
          .form-block__title.h2: <i class="far fa-file-alt"></i>
            span Форма предоставления ответа
          .form-block__content
            input(list="datalist-5").datalist
            datalist#datalist-5
              option(value="value1")
              option(value="value2")
              option(value="value3")

    .row.form-row
      .form-row__col
        .form-block.search-of-database
          .form-block__title.h2: <i class="fas fa-search"></i>
            span Поиск по базе Е-обращений
          .form-block__content
            .input-row
              .input-row__inner
                .input-row__input.flex
                  input(type="text")
                  button.button
                    <i class="fas fa-search"></i>
                    |Найти


    .row.form-row
      .form-row__col
        .form-block
          .form-block__title.h2: <i class="fas fa-user-circle"></i>
            span Идентификационные данные заявителя
          .form-block__content
            .form-block__subtitle
              .h2 Реквизиты доверенного лица
            .input-row
              .input-row__inner
                .input-row__title ИИН
                .input-row__input
                  input(type="text")
            .input-row
              .form-block__btn
                button.button Найти данные по ИИН
            .input-row
              .input-row__inner
                .input-row__title Фамилия
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Имя
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Отчество
                .input-row__input
                  input(type="text")           
            .input-row
              .input-row__inner
                .input-row__title Дата рождения:
                .input-row__input
                  input(type="text").datepicker-here
            .input-row
              .input-row__inner
                .input-row__title Регион
                .input-row__input
                  input(list="datalist-6").datalist
                  datalist#datalist-6
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Город / Район
                .input-row__input
                  input(list="datalist-8").datalist
                  datalist#datalist-8
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Населенный пунк
                .input-row__input
                  input(list="datalist-20").datalist
                  datalist#datalist-20
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Улица
                .input-row__input
                  input(list="datalist-9").datalist
                  datalist#datalist-9
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Дом
                .input-row__input
                  .row
                    .col-6
                      .input-row.input-row--small
                        .input-row__inner
                          .input-row__input
                            input(type="text").input-small

                    .col-6                      
                      .input-row.input-row--small
                        .input-row__inner
                          .input-row__title Блок
                          .input-row__input
                            input(type="text").input-small
            .input-row
              .input-row--small
                .input-row__inner
                  .input-row__title Квартира/офис
                  .input-row__input
                    input(type="text").input-small

            .input-row
              .input-row__inner
                .input-row__title Телефон
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title E-mail
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title Статус заявителя
                .input-row__input
                  input(list="datalist-19").datalist
                  datalist#datalist-19
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  label.checkbox
                    input(type="checkbox")
                    small
                    span Личный прием

            .form-block__subtitle
              .h2 Реквизиты доверителя
            .input-row
              .input-row__inner
                .input-row__title БИН
                .input-row__input
                  input(type="text")
            .input-row
              .form-block__btn
                button.button Найти данные по БИН
            .input-row
              .input-row__inner
                .input-row__title Наименование ЮЛ
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Фамилия учредителя
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Имя учредителя
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Отчество учредителя
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Поиск доверенности по базе нотариата
                .input-row__input
                  input(list="datalist-10").datalist
                  datalist#datalist-10
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")           
            .input-row
              .input-row__inner
                .input-row__title Область
                .input-row__input
                  input(list="datalist-11").datalist
                  datalist#datalist-11
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Город
                .input-row__input
                  input(list="datalist-12").datalist
                  datalist#datalist-13
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Район
                .input-row__input
                  input(list="datalist-14").datalist
                  datalist#datalist-14
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")            
            .input-row
              .input-row__inner
                .input-row__title Улица
                .input-row__input
                  input(list="datalist-15").datalist
                  datalist#datalist-15
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Дом
                .input-row__input
                  .row
                    .col-6
                      .input-row.input-row--small
                        .input-row__inner
                          .input-row__input
                            input(type="text").input-small

                    .col-6                      
                      .input-row.input-row--small
                        .input-row__inner
                          .input-row__title Блок
                          .input-row__input
                            input(type="text").input-small
            .input-row
              .input-row--small
                .input-row__inner
                  .input-row__title Квартира/офис
                  .input-row__input
                    input(type="text").input-small

            .input-row
              .input-row__inner
                .input-row__title Телефон
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title E-mail
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title Статус дов. лица
                .input-row__input
                  input(list="datalist-18").datalist
                  datalist#datalist-18
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Пример ошибки
                .input-row__input
                  input(type="text").error

            .input-row
              .input-row__inner
                .input-row__title Пример ошибки
                .input-row__input
                  input(list="datalist-18").datalist.error
                  datalist#datalist-18
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

      .form-row__col
        .form-block
          .form-block__title.h2: <i class="far fa-id-card"></i>
            span Сведения по обращению
          .form-block__content            
            .input-row
              .input-row__inner
                .input-row__title Регион
                .input-row__input
                  input(list="datalist-8").datalist
                  datalist#datalist-8
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Город / Район
                .input-row__input
                  input(list="datalist-8").datalist
                  datalist#datalist-8
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Населенный пункт
                .input-row__input
                  input(list="datalist-8").datalist
                  datalist#datalist-8
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Категория вопроса
                .input-row__input
                  input(list="datalist-16").datalist
                  datalist#datalist-16
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Характер вопроса
                .input-row__input
                  input(list="datalist-17").datalist
                  datalist#datalist-17
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Адресат
                .input-row__input
                  input(list="datalist-18").datalist
                  datalist#datalist-18
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .form-block__btn
                button.button Добавать адресата

            .input-row
              .input-row__inner
                .input-row__title Суть вопроса
                .input-row__input
                  textarea            

            .input-row
              .form-block__btn
                label(for="choose-file").upload-file
                  input(type="file" id="choose-file").upload-file-input
                  .button Выбрать файл
                  .upload-filename

            .input-row
              .input-row__inner
                .input-row__title Статус обращения
                .input-row__input
                  input(list="datalist-18").datalist
                  datalist#datalist-18
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .form-block__btn
                label(for="choose-file").upload-file
                  input(type="file" id="choose-file").upload-file-input
                  .button Выбрать файл
                  .upload-filename 

            .input-row
              .input-row__inner
                .input-row__title Причина
                .input-row__input
                  input(list="datalist-18").datalist
                  datalist#datalist-18
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title № пред. обращения
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title Вид обращения
                .input-row__input
                  input(list="datalist-18").datalist
                  datalist#datalist-18
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Субъект жалобы
                .input-row__input.subject-radio
                  .flex
                    label.radio
                      input(type="radio" name="checkbox-2" checked)
                      small
                      span ФЛ
                    label.radio
                      input(type="radio" name="checkbox-2")
                      small
                      span ЮЛ
                    label.radio
                      input(type="radio" name="checkbox-2")
                      small
                      span ГО
                    label.radio
                      input(type="radio" name="checkbox-2")
                      small
                      span Не определен

            .input-row
              .input-row__inner
                .input-row__title Информация о субъекте
                .input-row__input
                  textarea

            .input-row
              .form-block__btn
                button.button Дополнительная <br> суть вопроса

    .form-buttons
      button.button Подпись заявителя
      button.button ЭЦП регистратора
      