@import iconfont

@font-face
    font-family: 'MuseoSansCyrl'
    src: url('../fonts/MuseoSansCyrl_100.eot')
    src: url('../fonts/MuseoSansCyrl_100.eot') format('embedded-opentype'),url('../fonts/MuseoSansCyrl_100.woff') format('woff'),url('../fonts/MuseoSansCyrl_100.ttf') format('truetype')
    font-weight: 100
    font-style: normal

@font-face
    font-family: 'MuseoSansCyrl'
    src: url('../fonts/MuseoSansCyrl_300.eot')
    src: url('../fonts/MuseoSansCyrl_300.eot') format('embedded-opentype'),url('../fonts/MuseoSansCyrl_300.woff') format('woff'),url('../fonts/MuseoSansCyrl_300.ttf') format('truetype')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'MuseoSansCyrl'
    src: url('../fonts/MuseoSansCyrl_500.eot')
    src: url('../fonts/MuseoSansCyrl_500.eot') format('embedded-opentype'),url('../fonts/MuseoSansCyrl_500.woff') format('woff'),url('../fonts/MuseoSansCyrl_500.ttf') format('truetype')
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'MuseoSansCyrl'
    src: url('../fonts/MuseoSansCyrl_700.eot')
    src: url('../fonts/MuseoSansCyrl_700.eot') format('embedded-opentype'),url('../fonts/MuseoSansCyrl_700.woff') format('woff'),url('../fonts/MuseoSansCyrl_700.ttf') format('truetype')
    font-weight: 700
    font-style: normal

@font-face 
    font-family: 'MuseoSansCyrl'
    src: url('../fonts/MuseoSansCyrl_900.eot')
    src: url('../fonts/MuseoSansCyrl_900.eot') format('embedded-opentype'),url('../fonts/MuseoSansCyrl_900.woff') format('woff'),url('../fonts/MuseoSansCyrl_900.ttf') format('truetype')
    font-weight: 900
    font-style: normal

@font-face 
    font-family: 'journalism2'    
    src: url('../fonts/journalism2.ttf') format('truetype')
    font-weight: normal
    font-style: normal