@charset "UTF-8";
/* *************** base ******************************* */
/* bases */
/**************** media queries *******************/
/**************** calculateRem *******************/
/**************** pseudo after/before *******************/
/**************** placeholder *******************/
/**************** center block *******************/
@font-face {
  font-family: "iconic";
  src: url("../fonts/iconic.eot");
  src: url("../fonts/iconic.eot?#iefix") format("eot"), url("../fonts/iconic.woff") format("woff"), url("../fonts/iconic.ttf") format("truetype"), url("../fonts/iconic.svg#iconic") format("svg"); }

.iconic {
  font-family: "iconic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  line-height: normal;
  vertical-align: middle; }

.iconic--arr-bottom:after {
  content: ""; }

.iconic--arr-left:after {
  content: ""; }

.iconic--arr-right:after {
  content: ""; }

.iconic--cart-new:after {
  content: ""; }

.iconic--comp:after {
  content: ""; }

.iconic--dislike:after {
  content: ""; }

.iconic--like:after {
  content: ""; }

.iconic--ruble:after {
  content: ""; }

.iconic--sravnenie:after {
  content: ""; }

.iconic--star:after {
  content: ""; }

.iconic--tv:after {
  content: ""; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl_100.eot");
  src: url("../fonts/MuseoSansCyrl_100.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_100.woff") format("woff"), url("../fonts/MuseoSansCyrl_100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl_300.eot");
  src: url("../fonts/MuseoSansCyrl_300.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_300.woff") format("woff"), url("../fonts/MuseoSansCyrl_300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl_500.eot");
  src: url("../fonts/MuseoSansCyrl_500.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_500.woff") format("woff"), url("../fonts/MuseoSansCyrl_500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl_700.eot");
  src: url("../fonts/MuseoSansCyrl_700.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_700.woff") format("woff"), url("../fonts/MuseoSansCyrl_700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl_900.eot");
  src: url("../fonts/MuseoSansCyrl_900.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_900.woff") format("woff"), url("../fonts/MuseoSansCyrl_900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'journalism2';
  src: url("../fonts/journalism2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

button {
  outline: none !important;
  border: none;
  background: none;
  cursor: pointer; }

.button {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  vertical-align: middle;
  font-weight: 500;
  color: inherit;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 1;
  border: 1px solid #73877B;
  background: #75B691;
  color: #fff;
  padding: 12px 20px;
  border-radius: 9px;
  font-size: 16px; }
  .button:hover {
    background: #56a277;
    color: #fff;
    text-decoration: none; }
  .button .fas {
    color: #fff;
    font-size: 16px;
    margin-right: 5px; }

input {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  height: 40px;
  outline: none;
  padding: 0 30px;
  color: #404266;
  border: 1px solid #10A358;
  transition: 0.5s;
  border-radius: 9px;
  background: white;
  font-weight: 500; }
  input.placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #656565; }
  input:-moz-placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #656565; }
  input::-moz-placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #656565; }
  input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #656565; }
  input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #656565; }

.error {
  border: 1px solid red; }

textarea {
  border: 1px solid #10A358;
  border-radius: 15px;
  width: 100%;
  height: 150px;
  outline: none;
  padding: 10px 30px; }

label.checkbox {
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 20px; }
  label.checkbox input[type=checkbox] {
    display: none; }
    label.checkbox input[type=checkbox]:checked + small:after {
      top: -1px;
      opacity: 1; }
  label.checkbox small {
    display: inline-block;
    height: 25px;
    box-sizing: border-box;
    width: 25px;
    border: 1px solid #10A358;
    border-radius: 8px;
    margin-right: 15px;
    transition: 0.5s;
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    label.checkbox small:after {
      content: url("../images/icons/check.png");
      position: absolute;
      top: -4px;
      right: 3px;
      transition: 0.5s;
      opacity: 0; }

label.radio {
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 20px; }
  label.radio input[type=radio] {
    display: none; }
    label.radio input[type=radio]:checked + small:after {
      opacity: 1; }
  label.radio small {
    display: inline-block;
    height: 25px;
    box-sizing: border-box;
    width: 25px;
    border: 1px solid #10A358;
    border-radius: 8px;
    margin-right: 15px;
    transition: 0.5s;
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    label.radio small:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 3px;
      width: 17px;
      height: 17px;
      background: #75B691;
      transition: 0.5s;
      opacity: 0; }

.datalist {
  position: relative;
  background: url("../images/icons/arrow-select.png") 95% 50% no-repeat; }
  .datalist.error {
    background: url("../images/icons/arrow-select-red.svg") 95% 50% no-repeat;
    background-size: 18px; }

/* select custom */
.input-row {
  margin-bottom: 25px; }
  .input-row__inner {
    display: -ms-flexbox;
    display: flex; }
  .input-row__title {
    text-align: right;
    width: 35%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 110px;
    padding-top: 7px;
    margin-right: 15px; }
  .input-row__input {
    -ms-flex-positive: 1;
        flex-grow: 1; }
  .input-row--small {
    padding-right: 0; }
    .input-row--small .input-row__input {
      width: 140px !important;
      -ms-flex-positive: 0;
          flex-grow: 0; }
    .input-row--small .input-row__title {
      min-width: 50px; }
    .input-row--small input {
      padding: 0 15px; }
  .input-row .input-row {
    padding-right: 0;
    margin-bottom: 0; }

.upload-file input[type=file] {
  display: none; }

.upload-filename {
  max-width: 400px;
  margin-top: 15px; }

.link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
  outline: none; }
  .link-border {
    border-bottom-color: rgba(75, 75, 75, 0.2); }
    .link-border:hover {
      border-bottom-color: transparent; }
  .link-arrow {
    font-weight: 500;
    position: relative;
    padding-left: 27px; }
    .link-arrow svg {
      width: 11px;
      height: 13px;
      margin-right: 20px;
      transition: .5s;
      fill: #d1d1d1;
      position: absolute;
      left: 0;
      top: 2px; }
    .link-arrow:hover {
      color: #404266; }
      .link-arrow:hover svg {
        left: 8px;
        fill: #404266; }
  .link-lightblue {
    color: #198ee9;
    font-size: 14px;
    font-weight: 500; }
    .link-lightblue svg {
      fill: #198ee9; }

h1, .h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1; }
  @media screen and (max-width: 650px) {
    h1, .h1 {
      font-size: 2rem; } }
  @media screen and (max-width: 480px) {
    h1, .h1 {
      font-size: 1.4rem; } }

h2, .h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1; }
  @media screen and (max-width: 650px) {
    h2, .h2 {
      font-size: 1.25rem; } }
  @media screen and (max-width: 480px) {
    h2, .h2 {
      font-size: 1.05rem; } }

h3, .h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; }
  @media screen and (max-width: 650px) {
    h3, .h3 {
      font-size: 1.05rem; } }
  @media screen and (max-width: 480px) {
    h3, .h3 {
      font-size: 0.9rem; } }

h4, .h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 .5em; }

@media screen and (max-width: 1150px) {
  .decor-title.fz70 {
    font-size: 2.75rem; }
  .decor-title.fz68 {
    font-size: 2.75rem; } }

@media screen and (max-width: 560px) {
  .decor-title.fz70 {
    font-size: 2.25rem; }
  .decor-title.fz68 {
    font-size: 2.25rem; } }

p, span, a, b, strong, small {
  line-height: 1.3; }

p {
  margin-bottom: 25px; }

/* Короткие классы для форматирования текста */
.fz12 {
  font-size: 12px; }

.fz13 {
  font-size: 13px; }

.fz18 {
  font-size: 18px; }

.fz23 {
  font-size: 23px; }
  @media screen and (max-width: 480px) {
    .fz23 {
      font-size: 0.9rem; } }

.c-orange {
  color: #ff793d; }

.c-gray {
  color: #8e8789; }

.c-gray-2 {
  color: #909090; }

.fw100 {
  font-weight: 100; }

.fw300 {
  font-weight: 300; }

.fw700 {
  font-weight: 700; }

.fw900 {
  font-weight: 900; }

h2.fw900 {
  font-weight: 700; }

h3.fw900 {
  font-weight: 700; }

.upcs {
  text-transform: uppercase; }

.txt-ac {
  text-align: center; }

.txt-al {
  text-align: left; }

.txt-ar {
  text-align: right; }

.mb0 {
  margin-bottom: 0; }

.mr0 {
  margin-right: 0; }

.ml0 {
  margin-left: 0; }

.mt0 {
  margin-top: 0; }

/* *************** template ******************************* */
html, :root {
  font-size: 20px;
  overflow-x: hidden; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #7f7f7f;
  min-width: 320px;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 0.7rem; } }

.wrapper {
  max-width: 1400px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 30px; }
  @media screen and (max-width: 560px) {
    .wrapper {
      padding: 0 22px 0 15px; } }

.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  background: #fff; }
  @media screen and (max-width: 480px) {
    .page {
      padding-top: 75px !important; } }

.main {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 60px 0; }

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  box-sizing: border-box; }

img {
  max-width: 100%; }

.header {
  color: #fff;
  padding: 10px 0;
  background: url(../images/header-bg.jpg) center center/cover no-repeat;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.52); }
  .header-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .header-title {
    padding: 7px 0 7px 20px;
    border-left: 2px solid #fff;
    margin-left: 80px; }
  .header-buttons {
    -ms-flex-positive: 1;
        flex-grow: 1;
    text-align: right; }
    .header-buttons a {
      display: inline-block;
      margin-right: 30px;
      transition: .3s; }
      .header-buttons a:last-child {
        margin-right: 0; }
      .header-buttons a:hover {
        transform: scale(0.9); }
  .header .fas {
    color: #fff;
    font-size: 50px; }
  .header-logo img {
    width: 70px; }

.footer {
  padding: 15px 0;
  background: url(../images/footer-bg.jpg) left center/cover no-repeat;
  color: #ffffff;
  border-top: 7px solid #4E4D4D; }
  .footer-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .footer-content img {
      margin-right: 10px; }
  .footer .h3 {
    text-transform: uppercase;
    font-weight: 300; }
  .footer p {
    margin: 0;
    font-size: 15px; }
  .footer-social {
    margin: 15px 0; }
    .footer-social a {
      margin-right: 20px; }
      .footer-social a:hover {
        color: #4E4D4D; }
    .footer-social .fab {
      font-size: 25px; }
  .footer-copyright {
    font-size: 15px; }
  .footer input {
    height: 37px;
    padding: 0 20px;
    -ms-flex-positive: 1;
        flex-grow: 1;
    font-size: 18px;
    border-radius: 0;
    border: 0; }
    .footer input.placeholder {
      font-size: 18px;
      font-weight: 400; }
    .footer input:-moz-placeholder {
      font-size: 18px;
      font-weight: 400; }
    .footer input::-moz-placeholder {
      font-size: 18px;
      font-weight: 400; }
    .footer input:-ms-input-placeholder {
      font-size: 18px;
      font-weight: 400; }
    .footer input::-webkit-input-placeholder {
      font-size: 18px;
      font-weight: 400; }
  .footer button {
    background: #F7AD3B;
    padding: 10px 25px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .footer button .fas {
      color: #000;
      font-size: 18px;
      margin-right: 10px; }
  .footer form {
    width: 100%;
    display: -ms-flexbox;
    display: flex; }

.rel {
  position: relative; }

.fas {
  color: #75B691;
  font-size: 35px; }

.flex {
  display: -ms-flexbox;
  display: flex; }

.flex-end {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.flex-center {
  -ms-flex-pack: center;
      justify-content: center; }

.flex-between {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.gradient-bg {
  background: url("../images/gradient-bg.jpg") center center/cover no-repeat; }

.fullpage {
  height: 100vh;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.page-fullpage .main {
  padding: 0; }

/* *************** particles ******************************* */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5); }
  .popup.popup-show {
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    opacity: 1; }
  .popup-inner {
    position: relative;
    transition: .4s;
    max-width: 1000px;
    width: 100%;
    background: #FFF;
    padding-bottom: 60px;
    overflow-y: auto;
    max-height: 90vh; }
  .popup-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    padding: 25px 50px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.52);
    color: #fff;
    margin-bottom: 70px;
    background: url(../images/header-bg.jpg) center center/cover no-repeat; }
  .popup-title {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase; }
  .popup .fas {
    color: #fff; }
  .popup-form {
    padding: 0 100px 80px; }
  .popup .input-row__title {
    width: 40%; }
  .popup .input-small .col-sm-6 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .popup .input-small .col-sm-6 span {
      margin-right: 15px; }
  .popup .input-row__input > span {
    display: block;
    text-align: right;
    padding-right: 30px;
    padding-bottom: 20px; }
  .popup .table-wrap {
    padding: 0 30px 30px; }
    .popup .table-wrap + div {
      padding: 0 50px 0 40%;
      margin-bottom: 45px; }
  .popup table td {
    padding: 7px 12px;
    vertical-align: middle; }
  .popup table thead {
    border: 1px solid #BBBBBA;
    border-top: 8px solid #BBBBBA; }
  .popup table tbody {
    color: #8a8a8b;
    font-size: 20px; }
    .popup table tbody tr {
      border-bottom: 1px solid #BBBBBA; }

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 40px; }
  .form-row__col {
    width: 45%; }

.form-block__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #000;
  font-weight: 500;
  margin-bottom: 40px; }
  .form-block__title i {
    color: #75B691;
    margin-right: 18px; }
  .form-block__title span {
    padding-left: 15px;
    border-left: 2px solid #75B691; }

.form-block__subtitle {
  color: #10A358;
  text-align: right;
  margin-bottom: 25px; }
  .form-block__subtitle .h2 {
    display: inline-block;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 5px; }

.form-block__content {
  padding-left: 40px; }

.form-block__btn {
  text-align: right; }

.form-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 60px 0 30px;
  position: relative; }
  .form-buttons:before {
    content: url("../images/line.jpg");
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .form-buttons button {
    margin: 0 20px; }

/* *************** libs ******************************* */
/* *************** pages ******************************* */
.search-of-database button {
  margin-left: 15px; }

.subject-radio label {
  margin-right: 17px;
  font-size: 17px; }
  .subject-radio label:last-child {
    margin-right: 0; }

.subject-radio label small {
  margin-right: 7px; }

.authorization-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.authorization-link {
  width: 520px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #8FBEA2;
  color: #fff;
  border-radius: 45px;
  height: 90px;
  text-decoration: none;
  margin-bottom: 50px;
  padding: 0 35px;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 300;
  box-shadow: inset 0px 8px 5px 0px #76b396; }
  .authorization-link:hover {
    text-decoration: none;
    color: #fff;
    background: #76B396; }
  .authorization-link span {
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: block;
    text-align: center;
    margin-left: -20px; }

.authorization-logo {
  margin-bottom: 40px; }

.authorization-login {
  width: 480px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  overflow: hidden; }
  .authorization-login__form {
    padding: 50px 35px; }
  .authorization-login input {
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    color: #fff;
    padding: 15px;
    padding-left: 70px;
    font-size: 25px;
    height: auto; }
    .authorization-login input.placeholder {
      color: #fff;
      font-size: 25px; }
    .authorization-login input:-moz-placeholder {
      color: #fff;
      font-size: 25px; }
    .authorization-login input::-moz-placeholder {
      color: #fff;
      font-size: 25px; }
    .authorization-login input:-ms-input-placeholder {
      color: #fff;
      font-size: 25px; }
    .authorization-login input::-webkit-input-placeholder {
      color: #fff;
      font-size: 25px; }
  .authorization-login .input-wrap {
    margin-bottom: 25px; }
  .authorization-login .login {
    background: url("../images/icons/mail.png") 15px center no-repeat; }
  .authorization-login .password {
    background: url("../images/icons/password.png") 15px center no-repeat; }
  .authorization-login__options {
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-size: 16px;
    color: #fff;
    -ms-flex-align: start;
        align-items: flex-start; }
    .authorization-login__options .link {
      font-style: italic; }
    .authorization-login__options .checkbox small {
      background: #83B58E;
      border: 0;
      width: 20px;
      height: 20px;
      border-radius: 0; }
    .authorization-login__options .checkbox input + small:after {
      content: url("../images/icons/checked-white.png");
      left: 4px; }
    .authorization-login__options .checkbox input:checked + small:after {
      opacity: 1;
      top: -2px; }

.authorization-header {
  background: #A8D3CA;
  text-align: center;
  font-weight: 700;
  padding: 25px;
  color: #fff; }

.authorization-submit {
  height: 69px;
  padding: 0 80px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  text-transform: uppercase;
  color: #fff;
  transition: .4s; }
  .authorization-submit:hover {
    background: #80C5A8; }

.arm-header {
  padding: 0 30px;
  padding-left: 280px;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background: #F8F7F7;
  border-bottom: 3px solid #E9E8E8; }
  .arm-header + .main {
    width: 100%;
    padding: 0;
    display: -ms-flexbox;
    display: flex; }
  .arm-header .fas {
    font-size: 20px;
    color: #bfbebe; }
  .arm-header__title {
    font-size: 25px;
    border-left: 2px solid #7f7f7f;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px; }
  .arm-header__control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .arm-header__lang {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin: 0 20px; }
    .arm-header__lang a {
      margin: 0 5px; }
      .arm-header__lang a img {
        border-radius: 50%; }
      .arm-header__lang a.active img {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.52); }

.arm-search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .arm-search input {
    border: 2px solid #E9E8E8;
    font-size: 16px;
    transition: 0; }
    .arm-search input.placeholder {
      font-size: 16px; }
    .arm-search input:-moz-placeholder {
      font-size: 16px; }
    .arm-search input::-moz-placeholder {
      font-size: 16px; }
    .arm-search input:-ms-input-placeholder {
      font-size: 16px; }
    .arm-search input::-webkit-input-placeholder {
      font-size: 16px; }
    .arm-search input:focus {
      border-color: transparent; }

.arm-author .fas {
  margin-right: 8px; }

.arm-main {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.arm-sidebar {
  margin-top: -60px;
  width: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("../images/sidebar.png") top center/cover no-repeat;
  color: #fff;
  position: relative;
  padding-top: 70px; }
  .arm-sidebar:after {
    content: url("../images/icons/illustr.png");
    position: absolute;
    top: 20px; }

.arm-profile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 10px; }
  .arm-profile span {
    display: block; }
  .arm-profile__img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 10px; }

.arm-menu {
  font-size: 15px;
  position: relative;
  margin-top: 15px;
  z-index: 2; }
  .arm-menu a:hover {
    text-decoration: none;
    color: #fff; }
  .arm-menu li {
    position: relative; }
  .arm-menu > li {
    margin-bottom: 8px; }
  .arm-menu ul {
    background: #44BC8B; }
    .arm-menu ul a {
      padding: 5px;
      display: block;
      padding-left: 40px; }
      .arm-menu ul a:hover {
        text-decoration: none;
        background: #399E73; }
  .arm-menu__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    background: #399E73;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none; }
    .arm-menu__link:hover {
      text-decoration: none;
      background: #2b7958; }
    .arm-menu__link img {
      margin-right: 10px; }

.arm-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1; }
  .arm-content__title {
    padding: 20px;
    padding-left: 30px;
    border-bottom: 2px solid #E9E8E8;
    background: #fff; }
  .arm-content__main {
    padding: 15px;
    background: #F8F7F7;
    -ms-flex-positive: 1;
        flex-grow: 1; }

.arm-statusbar {
  font-size: 14px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 40px; }
  .arm-statusbar ul {
    display: -ms-flexbox;
    display: flex; }
    .arm-statusbar ul li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      margin-right: 30px; }
  .arm-statusbar .circle {
    margin-right: 15px; }

.arm-table table {
  width: 100%;
  font-size: 18px; }

.arm-table thead {
  font-size: 22px;
  border: 1px solid #909091;
  border-top: 6px solid #909091; }

.arm-table td {
  padding: 10px;
  vertical-align: middle; }

.arm-table tbody tr {
  border-bottom: 1px solid #909091; }

.arm-table tbody td {
  max-width: 280px; }

.arm-footer {
  background: #2E2E2E;
  font-size: 15px;
  padding: 20px 30px;
  color: #cccccb; }
  .arm-footer p {
    margin: 5px; }

.circle {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #606559; }
  .circle-green {
    background: #84BD3F; }
  .circle-red {
    background: #E94546; }
  .circle-yellow {
    background: #E5E24E; }

.add-number {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  white-space: nowrap; }
  .add-number__icon {
    cursor: pointer;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 8px; }
