.arm-header
  .arm-header__title ИС “Е-обращения” Саулембеков Е.А.
  .arm-header__control      
    form(action="#!").arm-search
        input(type="text" placeholder="Поиск")
        button: <i class="fas fa-search"></i>
    ul.arm-header__lang
      li: a(href="#!").link.active: img(src="../../images/icons/rus.png", alt="")
      li: a(href="#!").link: img(src="../../images/icons/kaz.png", alt="")
    a(href="#!").arm-author.link
      <i class="fas fa-sign-out-alt"></i>
      span Выйти


