include ../_mixins

footer.footer
  .wrapper
    .footer-inner
      .row
        .col-sm-4
          .footer-content
            img(src="../../images/icons/footer-logo.jpg", alt="")
            div
              .h3 Информационный сервис
              p Комитет по правовой статистике и специальным учетам  Генеральной прокуратуры Республики Казахстан
        .col-sm-4
          .footer-content.upcs
            img(src="../../images/icons/komitet.jpg", alt="")
            div
              p Комитет по правовой статистике и специальным учетам Генеральной прокуратуры Республики Казахстан
        .col-sm-4
          form
            input(type="text" placeholder="Электронная почта")
            button <i class="fas fa-check"></i> Подписаться
          .footer-social
            a(href="#!").link: <i class="fab fa-facebook"></i>
            a(href="#!").link: <i class="fab fa-instagram"></i>
            a(href="#!").link: <i class="fab fa-google-plus-square"></i>
            a(href="#!").link: <i class="fab fa-twitter"></i>
            a(href="#!").link: <i class="fab fa-vk"></i>
          .footer-copyright
            @ 2018. Все права защищены. “EGOV”
