include ../_mixins

header.header
  .wrapper
    .header-inner
      a(href="#!").link.header-logo: img(src="../../images/icons/header-logo.png", alt="")
      .header-title.h2 РЕГИСТРАЦИЯ ОБРАЩЕНИЯ
      .header-buttons
        a(href="#!").link: <i class="fas fa-user-circle"></i>
        a(href="#!").link: <i class="fas fa-home"></i>